* {
    box-sizing: border-box;
}
/*-----General-----*/

body {
    background-image: url(../images/Millennium-Falcon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-family:  'Londrina Outline', cursive, Times, Times New Roman, serif;
    font-size: 60px;
    font-weight: bold;
    color: yellow;
    letter-spacing: 5px;
} 
 h2,
 p {
    font-family:  'Londrina Outline', cursive, Times, Times New Roman, serif;
     font-size: 36px;
     color: yellow;
     font-weight: bold;
     letter-spacing: 2px;
} 
 
/*-----Header-----*/

#main-header {
    width: 100%;
    padding-right: 15%;
    z-index: 99;
    text-align: right;
}

/*-----GameArea-----*/
.row {
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.placeholder-image {
    height: 175px;
    width: 225px;
    padding: 20px 0px 20px 0px;
    background-color: #ffffff;
    border: solid;
    border-color: blue;
}
.character-image {
    display: inline-block;
    height: 190px;
    width: 225px;
    padding: 5px 0px 5px 0px;
    background-color: white;
    border: solid;
    border-color: blue;
    text-align: center;
}
p {
    color: black;
    font-size: 24px;
}
#charimg {
    float: left;

}

