* {
    box-sizing: border-box;
}
/*-----General-----*/

body {
    background-image: url(../images/Millennium-Falcon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-family:  'Londrina Outline', cursive, Times, Times New Roman, serif;
    font-size: 60px;
    font-weight: bold;
    color: yellow;
    letter-spacing: 10px;
} 
 h2 {
    font-family:  'Londrina Outline', Times, Times New Roman, serif;
    font-size: 36px;
    color: yellow;
    font-weight: bold;
    letter-spacing: 2px;
    
}
#charheader {
    background: black;
    width: 235px;
}
#enemiesheader {
    background: black;
    width: 430px;
}
#fightheader {
    background: black;
    width: 210px;
}
#defendheader {
    background: black;
    width: 140px;
}

 
/*-----Header-----*/

#main-header {
    width: 100%;
    padding-right: 15%;
    z-index: 99;
    text-align: right;
}

/*-----GameArea-----*/
.row {
    width: 100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.placeholder-image {
    height: 175px;
    width: 225px;
    padding: 20px 0px 20px 0px;
    background-color: #ffffff;
    border: solid;
    border-color: blue;
}
.character-image {
    display: inline-block;
    height: 180px;
    width: 225px;
    padding: 5px 0px 5px 0px;
    background-color: white;
    border: solid;
    border-color: blue;
    text-align: center;
}
#charimg {
    float: left;
}
p {
    clear: both;
    color: black;
    font-size: 18px;
}



